:root {
  --color-primary: #b53156;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #000000;

  --color-success: #01bd78;

  --color-error: #d40019;

  --color-primary-hover: #470927;
  --color-secondary: #ee5ca8;
}
