:root {
  --color-primary: #006cbb;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #000000;

  --color-success: #01bd78;

  --color-error: #d40019;
}
