:root {
  --color-primary: #006cbb;

  --color-white: #fff;
  --color-gray-light: #f4f4f4;
  --color-gray: #dfdfdf;
  --color-gray-dark: #bcbcbc;
  --color-black: #000;

  --color-success: #01bd78;

  --color-error: #d40019;
}
